

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
        margin-top:50px;
        padding:20px;
}
.rectangle {
	width: 200px;
	height: 100px;
        background-color: black;
        margin: 10px;
        margin-left: 10px;
}



.square {
	width: 100px;
	height: 100px;
/*        background: yellow;*/
        margin: 10px;
        margin-left: 10px;        
}

.circle {
	width: 100px;
	height: 100px;
/*	background: red;*/
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
        margin: 10px;
        margin-left: 10px;        
}

.shape{
        float: left;
        border: 2px solid rgb(0, 0, 0);
        cursor: pointer;
        color: rgb(255, 255, 255);
        text-align:center;
        margin: 5px;
}
.shape span{
        float: left;
        height:50px;
        width:100%;
        padding-top: 18px;
        font-size:14px;
        font-weight:bold;
        text-align: center;
}
.red{
        background-color: red;
}
.blue{
        background-color: blue;
}
.yellow{
        background-color: yellow;
}
.green{
        background-color: green;
}

/*not working*/
.linebreak-items{
        display: inline;
        content: '\A';
        white-space: pre;        
}



